@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,500&display=swap');

*{
  font-family: 'Playfair Display', serif;
}

.btn {
  cursor: pointer;
  padding: 10px 25px;
  text-transform: capitalize;
}

.btn-transparent {
  background: transparent;
  color: #fff;
  font-size: 16px;
  padding: 12px 36px;
  font-weight: 600;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.16), 0px 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  border-radius: 3px;
}

.btn-transparent:hover {
  color: #fff;
}

.header {
  padding-top: 120px;
  background: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
}

.header .title {
  color: #fff;
  margin-bottom: 20px;
}

.header p {
  color: rgba(255, 255, 255, .7);
}

iframe {
  margin: 40px auto -100px;
  border-radius: 10px;
  display: block;
}

.thumb{
  margin: 40px auto -100px;
  border-radius: 10px;
  display: block;
}

.section {
  padding: 100px 0;
}

.card-icon {
  font-size: 40px;
  color: rgba(88, 88, 88, 0.8);
  margin-bottom: 20px;
  display: inline-block;
}

.card-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.card {
  border: 0;
  box-shadow: 010px 12px 57px 0px rgba(0, 0, 0, 0.05);
}